<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-md-6 text-center text-md-left">
      <h4>Журнал действий</h4>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">    
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Поиск по наименованию задачи">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" *ngFor="let task of tasks | filter: searchText" >
        <div class="card-body" [ngStyle]="{'background-color':task.result == 0 ? ' ' : 'MistyRose' }">          
          <div class="row col-12 mb-3 mb-md-0 justify-content-around">
            <div class="col align-self-center text-center order-first order-md-first">
              <div class="round" *ngIf="task.result == 0;then check else error"></div>            
              <ng-template #check>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </ng-template>
              <ng-template #error>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-slash-circle text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                </svg>
              </ng-template>    
            </div>
            <div class="col-9 col-sm-10 col-md-6 align-self-center order-2 order-md-2">
              <h5 class="mt-0 round-inner">{{ task.scriptName }}</h5>
              <p class="mb-0 text-muted" *ngIf="task.result == 0;then success else warning"></p>
              <ng-template #success>Завершено</ng-template>
              <ng-template #warning>Завершено с ошибками</ng-template>      
            </div> 
            <div class="col-6 col-md-2 mt-3 mt-md-0 align-self-center order-4 order-md-3">
              <h5 class="mt-0 round-inner">Время запуска:</h5>
              <p class="mb-0 text-muted">{{ task.startDate | date:'dd/MM/yyyy hh:mm:ss' }}</p>            
            </div>
            <div class="col-6 col-md-2 mt-3 mt-md-0 align-self-center order-5 order-md-4">
              <h5 class="mt-0 round-inner">Время окончания:</h5>
              <p class="mb-0 text-muted">{{ task.endDate |  date:'dd/MM/yyyy hh:mm:ss' }}</p>
            </div>
            <div class="col align-self-center text-center order-3 order-md-last">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
              </svg>
            </div>
          </div>     
        </div>
      </div>  
    </div>    
  </div>
</div>