@import "~bootstrap/scss/bootstrap.scss";

html {
    font-family: Roboto;
}

.card {        
    margin-bottom: 10px;
    font-size: .9rem;
    p {
        font-size: .9rem;
    }
    h5 {
        font-size: .9rem;
    }
}